<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   
<main class="container" style="display: flex; align-items: center; justify-content: center;">
  <div style="flex: 1; margin-left: 20%; ">
  <h2>Welcome to Artem Kamov's Website!</h2>
    <p>Hello! I am Artem Kamov, and here a little information about me:</p>
    <ul>
      <li>Currently enrolled in the Software Engineering Technology - Artificial Intelligence Advanced Diploma</li>
      <li>Demonstrated ability to grasp new concepts and technologies swiftly, as evidenced by academic achievements and personal projects; Holds a GPA of 4.3/4.5 (A)</li>
      <li>Knowledgeable of C#, Java, Python, SQL, Oracle, Unix/Linux, OOP, and TDD </li>
      <li>Proficient in solving complex problems by using logical thinking and strong analytical skills</li>
      <li>Experience using tools such as Jira, GitHub, MS Office, Visual Studio Code, Visio </li>
  </ul>
  </div>
  <div style="flex: 1; ">
    <img src="/img/my_photo.jpg" alt="photo" style="width: 350px; height: 500px; margin-left: 20%;">
  </div>
  
</main>
<!--bottom nav-->
   
<!--script section-->
<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
